numpy>=1.26,<3
pandas>=2.2,<4
scipy>=1.12,<2
scikit-learn>=1.5,<2
catboost>=1.2,<2
lightgbm>=4.5,<5
matplotlib>=3.9,<4
seaborn>=0.13,<1
nbformat>=5.10,<6
nbclient>=0.10,<1
ipykernel>=6.29,<8
joblib>=1.3,<2
